html{
	color: black;
	background-color: #fff;
}

a{
	text-decoration: none;
}

a:visited{
	color: inherit;
}

p{
	margin: initial;
}

header{
	width: 320px;
	height: 100vh;
	float: left;
	position: fixed;
	/* border: solid 1px red; */
}

#logo{
	position: absolute;
	top: 97px;
	left: 90px;

}

#gnav{
	font-family: Oswald;
	font-weight: 300;
	font-size: 17px;
	position: absolute;
	top: 186px;
	left: 147px;
}

ul{
	margin: initial;
	padding: initial;
}

li{
	list-style: none;
	margin-bottom: 20px;
}

#gnav ul li{
	transition: 0.25s ease-in-out;
}

#gnav ul li:hover{
	transform: translateX(10px);
}

#gnav ul li::before{
	content: url("./arrow.svg");
	opacity: 0;
	transition: 0.25s ease-in-out;
	margin-right: 10px;
}

#gnav ul li:hover::before{
	opacity: 1;
}

#copyrights{
	font-family: Oswald;
	font-weight: 100;
	font-size: 12px;
    position: absolute;
    bottom: 60px;
    left: 10px;
    transform: translateX(-50%) rotate(90deg);
    transform-origin: center 100%;
    line-height: 1;
	opacity: 0.3;
}

body main{
	width: 100%;
	height:2000px;
	/* border: solid 1px green; */
}

#main-Wrapper{
	width: calc(100% - 320px);
	position: absolute;
	left: 320px;
	/* border: solid 1px blue; */
}

.main-visual__title{
	display: flex;
	position: relative;
	top: 231px;
	left: 80px;
}

h1{
	margin: initial;
	padding: initial;
	font-family: "Oswald";
	font-weight: 100;
	font-size: 50px;
	text-align: center;
	position: relative;
	color: #e8e8e8;
}

h1::after{
	content:'New things';
	font-family: "Shadows Into Light";
	font-weight: 100;
	font-size: 50px;
	text-align: center;
	position: relative;
	left: -50%;
	color: #000;
}

.number{
	font-family: Oswald;
	font-weight: 100;
	font-size: 21px;
}

.date{
	font-family: Oswald;
	font-weight: 500;
	font-size: 17px;
}

.project-information{
	font-family: Oswald;
	font-weight: 300;
	font-size: 15px;
}

.project--info .date{
	margin-bottom: 3px;
}

.main-visual__project{
	position: relative;
	top: 250px;
	left: 290px;
}

.main-visual__img{
	margin-top: 10px;
}