body {
	display: flex;
}

main {
	width: 84%;
}

.main-visual{
	width: 100%;
}

.main-visual__title{
	display: inline-block;
	position: relative;
	border: solid 1px red;
}

.main-visual__project{
	display: inline-block;
	border: solid 1px orange;
}

h1{
	margin: initial;
	padding: initial;
	font-family: "Oswald";
	font-weight: 100;
	font-size: 50px;
	text-align: center;
	position: relative;
	color: #e8e8e8;
	border: solid 1px magenta;
}

h1::after{
	content:'New things';
	font-family: "Shadows Into Light";
	font-weight: 100;
	font-size: 50px;
	text-align: center;
	position: relative;
	left: -50%;
	color: #000;
	border: solid 1px cyan;
}

.number{
	font-family: Oswald;
	font-weight: 100;
	font-size: 21px;
}

.date{
	font-family: Oswald;
	font-weight: 500;
	font-size: 17px;
}

.project-information{
	font-family: Oswald;
	font-weight: 300;
	font-size: 15px;
}

.project--info .date{
	margin-bottom: 3px;
}


.main-visual__img{
	margin-top: 10px;
}

.Whatcrunium {
	background-color: gray;
}