html{
	color: black;
}

header{
	width: 320px;
	height: 100vh;
	background-color: red;
	float: left;
	position: fixed;
}

#logo{
	position: absolute;
	top: 97px;
	left: 90px;

}

body main{
	width: 100%;
	height:1000px;
	background-color: blue;
}

#main-Wrapper{
	width: calc(100% - 320px);
	position: absolute;
	left: 320px;
}

#gnav{
	font-family: Oswald;
	font-weight: 300;
	font-size: 17px;
	position: absolute;
	top: 186px;
	left: 167px;
}

li{
	list-style: none;
	margin-bottom: 20px;
}

ul{
	margin: initial;
	padding: initial;
}
