/* initialize */
p{
	margin: initial;
}

/* LinkStyle */
a{
	text-decoration: none;
}

a:visited{
	color: inherit;
}

/* HeaderStyle */
header{
	width: 16%;
	height: 100vh;
}

.icon > object{
	
}

.globalNav{
	font-family: Oswald;
	font-weight: 300;
	font-size: 17px;
	position: absolute;
	top: 186px;
	left: 147px;
}

ul{
	margin: initial;
	padding: initial;
}

li{
	list-style: none;
	margin-bottom: 20px;
}

.globalNav ul li{
	transition: 0.25s ease-in-out;
}

.globalNav ul li:hover{
	transform: translateX(10px);
}

.globalNav ul li::before{
	content: url("./arrow.svg");
	opacity: 0;
	transition: 0.25s ease-in-out;
	margin-right: 10px;
}

.globalNav ul li:hover::before{
	opacity: 1;
}

#copyrights{
	font-family: Oswald;
	font-weight: 100;
	font-size: 12px;
    position: absolute;
    bottom: 60px;
    left: 10px;
    transform: translateX(-50%) rotate(90deg);
    transform-origin: center 100%;
    line-height: 1;
	opacity: 0.3;
}